@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

:root {
  --primary-color: #23aca2;
  --secondary-color: #0c6f83;
  --whatsapp-color: #35cd44;
  --gradient-color: linear-gradient(90deg, #23aca2, #2c3e50);
}

body {
  font-family: "Poppins", sans-serif;
}

.text-primary-color {
  color: var(--primary-color);
}

.text-secondary-color {
  color: var(--secondary-color);
}

.whatsapp-color {
  background-color: var(--whatsapp-color);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.background-secondary-color {
  background-color: var(--secondary-color);
}

.background-gradient {
  background: var(--gradient-color);
}
